* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #e3f1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #cbd5e1;
}
#submitBtn {
  width: 250px;
  height: 30px;
  background-color: #2563eb;
  color: white;
  border: none;
}
form input {
  width: 250px;
  height: 30px;
  padding: 5px;
  border: 1px solid gray;
}
input:focus {
  outline: none;
  border: 2px solid #3b82f6;
}
.card-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.imgBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.imgBox img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #cbd5e1;
  object-fit: cover;
}
.generated-id {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #cbd5e1;
  display: inline-block;
}
.name,
.dob,
.role,
.contact {
  font-size: 16px;
  text-align: center;
  color: gray;
}
